# Python 3.9+
fastapi>=0.115.0
uvicorn[standard]>=0.34.0
python-dotenv>=1.0.0
pydantic-settings>=2.7.0
python-multipart>=0.0.20
boto3>=1.35.0
modal>=1.0.0

# Auth & database
motor>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt==3.2.2
python-jose[cryptography]>=3.3.0

# Zero-DCE inference
torch>=2.0.0
numpy>=1.24.0
Pillow>=9.5.0
